@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --bg-primary-color: #8fe2b9;
    --primary-color: #0c65be;
    --secondary-color: #66CC99;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Sección Sobre Mi */
.about-section {
    background-color: #003366;
    color: white;
    /* Color del texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    padding: 20px 20px 100px;
}

/* Título */
.about-title {
    font-size: 2.5rem;
    /* Tamaño del título en dispositivos móviles */
    margin-bottom: 40px;
    /* Espacio debajo del título */
}

/* Títulos en pantallas grandes */
@media (min-width: 768px) {
    .about-title {
        font-size: 3.5rem;
        /* Tamaño del título en pantallas grandes */
        margin-bottom: 60px;
        /* Aumentar el espacio debajo del título */
    }
}

/* Contenedor principal */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* Espacio entre cards */
    justify-content: center;
}

/* Cards */
/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


/* Títulos e íconos */

.card-icon {
    font-size: 48px;
    /* Íconos compactos */
    color: #333;
}

.card h3 {
    margin: 0;
    color: #333;
    font-size: 16px;
}

/* Texto */
.card p {
    margin: 3px 0;
    font-size: 15px;
    line-height: 1.2;
    /* Menor interlineado */
    color: #555;
}

/* Responsividad */
@media (max-width: 768px) {
    .card-container {
        padding: 40px 65px;
        /* Más padding en los costados para evitar superposición */
    }

    .card {
        width: 100%;
        /* Ocupan todo el ancho disponible */
        padding: 20px;
        /* Más padding interno para mayor legibilidad */
    }
}

@media (max-width: 480px) {
    .card-container {
        padding: 40px 75px;
        /* Aseguramos que no haya superposición con íconos laterales */
    }
}



html {
    scroll-padding-top: 95px;
    /* background-color: #003366; */
    /* Ajusta el valor según la altura de tu navbar */
}

.letra-secundaria {
    color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    /* background-color: var(--bg-primary-color); */
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 3rem;
    background-color: #cae6eb;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-img {
    height: 60px;
    margin-right: 20px;
}

nav h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
}

nav a {
    color: var(--primary-color);
    transition: var(--transicion);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    margin-left: auto;
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
    font-size: 1.3rem;
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ---HABILIDADES--- */

/* Clases para animaciones de aparición y desaparición */
.appear {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.disappear {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.habilidades {
    background-color: #66CC99;
    display: flex;
    /* Usar flexbox para centrar el contenido */
    flex-direction: column;
    /* Alinear en columna */
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    /* Centrar verticalmente */
    min-height: 100vh;
    /* Ocupa toda la altura de la pantalla menos la altura del navbar */
    text-align: center;
}

.header-habilidades {
    margin-bottom: 1rem;
    color: black;
    font-size: 2.5rem;
    /* Tamaño del título, ajusta según sea necesario */
}

/* Contenedor de habilidades */
.contenedor-habilidades {
    display: flex;
    /* Usar flexbox para alinear las imágenes */
    flex-direction: column;
    /* Asegurarse de que los sets se apilen verticalmente */
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    /* Centrar verticalmente */
}

.first-set,
.second-set {
    display: flex;
    /* Usar flexbox para las imágenes dentro de cada set */
    flex-wrap: wrap;
    /* Permitir que las imágenes se envuelvan */
    justify-content: center;
    /* Centrar las imágenes */
    margin: 10px 0;
    /* Espacio entre los sets */
}

.contenedor-habilidades img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/* ---PROYECTOS--- */
.proyectos {
    background-color: #003366;
    display: flex;
    /* Usar flexbox para centrar el contenido */
    flex-direction: column;
    /* Alinear en columna */
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    /* Alinear el contenido hacia arriba */
    min-height: calc(100vh - 80px);
    /* Ocupa toda la altura de la pantalla menos la altura del navbar */
    padding-top: 20px;
    /* Espacio superior para el contenido */
    text-align: center;
}

.titulos-de-proyectos {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    /* Cambiar color del título si es necesario */
}

.titulo-principal-proyectos {
    text-align: center;
    font-size: 2.5rem;
    /* Tamaño del título, ajusta según sea necesario */
    margin-bottom: 1rem;
    color: white;
    /* Cambiar color del título si es necesario */
}

.contenedor-de-proyectos {
    display: flex;
    flex-wrap: wrap;
    /* Permitir que las tarjetas se envuelvan en pantallas más pequeñas */
    align-items: center;
    justify-content: center;
}

.tarjeta-de-proyectos {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    margin: 10px;
}

.project-pic {
    width: 100%;
    /* Hacer que la imagen ocupe el 100% del ancho de la tarjeta */
    height: auto;
    /* Mantener la proporción de la imagen */
}

.contenedor-de-proyectos p {
    padding: 0.4rem;
}

.detalle-de-proyectos {
    margin-bottom: var(--bottom-margin);
}

/* CONTACTO */
.contacto {
    background-color: #006699;
    display: flex;
    /* Usar flexbox para centrar el contenido */
    flex-direction: column;
    /* Alinear en columna */
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    /* Centrar verticalmente */
    min-height: calc(100vh - 80px);
    /* Ocupa toda la altura de la pantalla menos la altura del navbar */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
}

.contacto h2 {
    margin-bottom: var(--bottom-margin-2);
    font-size: 2.5rem;
    /* Tamaño del título, ajusta según sea necesario */
    color: white;
    /* Cambiar color del título si es necesario */
}

.formulario-contacto-contenedor {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 1rem;
    /* Aumentar el padding para mejor apariencia */
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    background-color: white;
}

.formulario-contacto-contenedor label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.formulario-contacto-contenedor textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.formulario-contacto-contenedor .input-field {
    width: 100%;
    padding: 10px;
    /* Ajustar el padding */
    border-radius: 5px;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/* SOCIALES */

.sociales {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 70%;
}

.socials-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials-list .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0.5rem;
}

.socials-list .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 110%;
    transform: translateY(200%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.socials-list .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.socials-list .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.socials-list .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.socials-list .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.socials-list .icon-content a:hover {
    color: white;
}

.socials-list .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.socials-list .icon-content a:hover .filled {
    height: 100%;
}

.socials-list .icon-content a[data-social="linkedin"] .filled,
.socials-list .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.socials-list .icon-content a[data-social="github"] .filled,
.socials-list .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}



/* FOOTER */
footer {
    background-color: black;
    padding: 1.25rem;
    text-align: center;

}

footer p {
    color: white;
}

/* VUELVE AL COMIENZO */
.desplazarse-hacia-arriba {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}


.button-upward-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button-upward-arrow:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--secondary-color);
    align-items: center;
}

.button-upward-arrow:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button-upward-arrow::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button-upward-arrow:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

/* Termina upward arrow buttom */

/* RESPONSIVE */
@media screen and (max-width: 720px) {

    /* los cambios se reflejan en una pantalla con un ancho de 720px y e inferior */

    .navegacion {
        margin-top: 34px;
        /* Ajusta este valor según lo necesites */
    }

    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .menu-hamburguesa {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    /* HERO */
    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 35.5rem;
        width: 30rem;
    }



    /* HABILIDADES */
    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    /* PROYECTOS */
    .contenedor-de-proyectos {
        flex-direction: column;
    }

    .tarjeta-de-proyectos {
        width: 20.875rem;
    }

    /* CONTACTO */
    .formulario-contacto-contenedor {
        max-width: 23.75rem;
    }

    .card {
        height: 250px;
    }

    .sociales {
        margin-top: 1rem;
        flex-direction: row;
        position: relative;
    }

    .socials-list {

        flex-direction: row;
    }

    .contacto {
        padding: 0px;
    }
}

@media screen and (max-width: 420px) {
    .card {
        height: 250px;
    }

    .sociales {
        margin-top: 1rem;
        flex-direction: row;
        position: relative;
    }

    .socials-list {

        flex-direction: row;
    }

    .contacto {
        padding: 30px;
    }

}